<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="data_tables">
	<thead>
		<tr>
			<th> Sl.No</th>
			<th> Product Name</th>
			<th> Quantity Available</th>
			<th> Quantity Requested</th>
			<th> Price/unit</th>
			<th> Total</th>
			<th> Purchasing Date</th>
			<th> Return Date</th>
			<th> Actions</th>
		</tr>
	</thead>

	<tbody>
		<% @items.each_with_index do |item, index|%>
		<tr align ="center">
			<td> <%= index+1%> </td>
			<td><%= item.product.name %> </td>
			<td> <%= item.product.quantity%></td>
			<td> <%= item.quantity %> </td>
			<td> <%= item.product.price %> </td>
			<td> <%= item.total %> </td>
			<td> <%= item.purchasing_date %> </td>
			<td> <%=item.return_date%> </td>
			<td> <% if item.approve_link%> <%=link_to 'approve',request_approve_item_path(id:item.id) %> <%end%>|<%= request_cart_item_link(item).html_safe%> </td>
		</tr>
		<% end %>
	</tbody>
</table>
<br>
<div>
<%= link_to 'Back to Requests', request_index_path, class:'btn btn-primary' %>
</div>