<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered" id="data_tables" >
	<thead>
		<tr>
			<th> Sl.No</th>
			<th> Product Name </th>
			<th> Quantity</th>
			<th> Trigger</th>
			<th> Price/unit</th>
			<th> Purchase Date</th>
			<th> Location</th>
			<th> Category</th>
			<th> Actions</th>
		</tr>
	</thead>
	<tbody>
		<%= render 'search_product' %>
		<% @products.each_with_index do |product, index| %>
		<tr bgcolor=<%= product.bg_color_in_row(product.usage_status)%>>
			<td><%= index + 1 %> </td>
			<td><%= product.name %> </td>
			<td> <%= product.quantity %> </td>
			<td> <%= product.trigger%></td>
			<td> <%= product.price%></td>
			<td> <%= product.purchase_date%></td>
			<td> <%= product.location_location_name%></td>
			<td> <%= product.category_name%></td>
			<td> <%= product_link(product).html_safe %> </td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= product_new %>
