<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="data_tables">
	<thead>
		<tr>
			<th> Sl.no</th>
			<th> Cart </th>
			<th> User </th>
			<th> Position</th>
			<th> Total Price</th>
			<th> Status </th>
			<th> Actions</th>
		</tr>
	</thead>

	<tbody>
		<% @carts.each_with_index do |cart, index| %>
		<tr>
			<% cart.total_price = cart.whole_price%>
			<td><%= index+1 %> </td>
			<td> <%= cart.id%> </td>
			<td> <%= cart.user.user_detail.full_name %></td>
			<td> <%= cart.user.user_detail.position %></td>
			<td> <%= cart.total_price %></td>
			<td> <% if cart.move_to_que == false %> <%='pending'%> <%else%> <%='Moved to Que' %> <%end%> </td>
			<td><%= current_user_request_link(cart).html_safe%> </td>
		</tr>
		<% end %>
	</tbody>
</table>