<div class="well">
    <ul class="nav nav-tabs">
      <li><a href="/users/notification" data-toggle="tab1">Inbox</a></li>
      <li><a href="/users/send_notification_list" data-toggle="tab2">Sent Items</a></li>
      <li class="active"><a href="/users/trash_list" data-toggle="tab3">Trash</a></li>
    </ul>
  <table class="table table-condensed table-hover" id ="data_tables">
    <thead>
      <tr>
        <th class="span3">From </th>
        <th class="span6"> Subject </th>
        <th class="span2"> Message</th>
        <th class="span9"> Content</th>
        <th class="span2"> Time</th>
        <th class="span5"> Action</th>
      </tr>
    </thead>
    <tbody>
      <% @notifications.each do |notification|%>
      <tr bgcolor = <%= notification.color_display_row %> >
        <td><strong> <%= notification.sent.user_detail.full_name
         %></strong></td>
        <td><%= notification.subject %> </td>
        <td><span class="label pull-center">Notification:</span></td>
        <td><strong><%= notification.description[0,10]%>...</strong></td>
        <td><strong><%= time_ago_in_words(notification.created_at) %></strong></td>
        <td><%= link_to "Read",users_read_notification_path(id:notification.id),
         class:'btn btn-primary'%> <%= link_to "Undelete",
          users_move_to_trash_path(id:notification.id),class:'btn btn-primary' %> </td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>