<div class="span8 well">
	<div style="margin-left:10%;" class="row">
		<%= form_for @location, url:{action:'update'}, method:'put' do |f| -%>
			<%= f.hidden_field :id %>
		  <%= f.label :location_name, "Location Name" %>
		  <%= f.text_field :location_name %>
		  <%= f.label :location_description, "Location Description" %>
		  <%= f.text_area :location_description, size:'10x7' %>
		  <br>
		  <br>
		  <%= f.submit "Submit", :disable_with => 'Submiting...', class:'btn btn-primary' %>
		<% end %>
	</div>
</div>